# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv
venv/
build/
dist/
*.egg-info/

# macOS
.DS_Store

# Node
node_modules/

# Logs
*.log

# React
/build

# VSCode
.vscode/

# Misc
*.swp
*.swo

# Environment
.env.*

